apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello
        image: us-central1-docker.pkg.dev/devops-k8s-assignment-483517/hello-repo/hello-app:v1
        ports:
        - containerPort: 80
